* {
  box-sizing: border-box;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

.main-container {
  width: 100%;
}

/*Header*/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: rgb(101, 137, 255);
}

/*Header images * */
.header-images {
  position: relative;
  height: 300px;
  background-color: grey;
}

/*Header Title ** */
.header-title {
  display: flex;
  justify-content: center;
  font-size: 30px;
  /*background-color: deeppink;*/
}
/* ** */

/*image switching nav ** */
.nav-header-imgs {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.nav-header-imgs .nav-img-button {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
  cursor: pointer;
}

.nav-img-button:hover {
  opacity: 1;
}
/* ** */

/* * */

/*Header nav menu ** */
.nav-header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 30px;
}
.nav-box {
  padding: 20px;
  color: white;
  background-color: coral;
}
/* ** */
.header-small-text {
  font-size: 20px;
}
.header-text > a,
.nav-box > a {
  color: white;
}

.main-body-container {
  display: flex;
  width: 100%;
}

.main-page {
  width: 100%;
  background-color: red;
}

/*Sections*/
#about {
  background-color: gold;
}
#faq {
  background-color: rgb(199, 39, 73);
}
#connect {
  background-color: rgb(17, 185, 73);
}

#about,
#faq,
#connect {
  padding: 30px;
  min-height: 250px;
}

/**/

.side-bar {
  width: 20%;
  background-color: rgb(242, 228, 255);
}

a:link {
  text-decoration: none;
}

.body {
  background-color: lightblue;
}
footer {
  background-color: green;
}

/**/

/*Responsive for mobiles*/
@media screen and (max-width: 800px) {
  .main-page {
    width: 100%;
  }
  .side-bar {
    overflow: hidden;
    width: 0%;
  }
}
/**/
