* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  user-select: none;
}
html {
  scroll-behavior: smooth;
  /*color-scheme: light dark;*/
}

.main-container {
  width: 100%;
}

/*Header*/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

/*Header images * */
.header-images-container {
  position: relative;
  width: 100%;
  height: 500px;
  /*overflow: hidden;*/
  background-color: rgb(148, 165, 135);
  z-index: 1;
}

.header-img-shadow {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
}

/*Header Title ** */
.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  padding: 20px;
  height: 100%;
  /*background-color: deeppink;*/
}

.header-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: ease-in-out 1s;

  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  object-position: center;
}

.header-img-first {
  opacity: 1;
}

/* ** */

/*image switching nav ** */
.nav-imgs-container {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.nav-imgs-container .nav-img-button {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.nav-img-button:first-child {
  opacity: 1;
}

.nav-img-button:hover {
  opacity: 1;
}
/* ** */

/* * */
/* ** */
.header-small-text {
  font-size: 20px;
}
.header-text > a {
  color: white;
}

/* Main nav */
/*Big menu*/
#nav-container-wide {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: rgb(148, 165, 135);
  /*background-color: rgb(190, 200, 180);*/
  justify-content: center;
  gap: 10px 30px;
  font-size: 18px;
  font-weight: 900;

  position: sticky;
  top: 0;
}
.nav-box-wide {
  padding: 20px;
  color: rgb(0, 0, 0);
  transition: ease-in-out 0.3s;
}

.nav-box-wide:hover {
  background-color: rgb(172, 187, 161);
  /*background-color: rgb(190, 200, 180);*/
}
/**/

/*Menu opener*/

.nav-container-compact-opener {
  display: none;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  width: 100%;
  height: 60px;
  background-color: rgb(148, 165, 135);

  position: sticky;
  top: 0;
}

#nav-opener {
  width: 60px;
  height: 60px;
  background-image: url(../img/menu.png);
  cursor: pointer;
  transition: ease-in-out 0.3s;

  position: sticky;
  top: 0px;
  /*z-index: 5;*/
}

#nav-opener:hover {
  background-color: rgb(172, 187, 161);
}

/**/

/*Small menu*/
#nav-container-compact {
  position: absolute;
  top: -1500px;
  z-index: -2;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  /*old*/ /*width: 100%;
  background-color: rgb(148, 165, 135);*/
  border-top: 2px solid rgb(130, 145, 120);
  /*old*/ /*border-bottom: 2px solid rgb(120, 130, 110);*/

  border-radius: 0px 0px 15px 0px;

  transition: ease-in-out 0.5s;
}

#nav-container-compact > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav-container-compact > ul > li {
  /*new*/
  transition: ease-in-out 0.3s;

  border-bottom: 2px solid rgb(110, 120, 100);
  /*new*/
  background-color: rgb(148, 165, 135);
}

#nav-container-compact > ul > li:last-child {
  /*new*/
  border-bottom: 2px solid rgb(110, 120, 100);
  /*new*/
  border-radius: 0px 0px 15px 0px;
}

/*old*/
.nav-box-compact {
  text-align: center;
  /*min-width: 180px;*/
  padding: 20px;
  font-size: 18px;
  font-weight: 900;
  color: black;
  transition: ease-in-out 0.3s;
}

#nav-container-compact > ul > li:hover {
  background-color: rgb(172, 187, 161);
}
/**/
/**/

.main-body-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.main-page {
  width: 100%;
}

section:nth-child(even) {
  /*background-color: rgb(220, 225, 210);*/
  background-color: rgb(215, 220, 210);
}

section:nth-child(odd) {
  background-color: rgb(255, 250, 250);
}

#about,
#offer,
#faq,
#testimonial,
#recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;
  min-height: 750px;
  padding: 0px 0px 30px 0px;
}

section,
footer {
  scroll-margin-top: 60px;
}

.section-title {
  font-size: 30px;
  text-align: center;
  padding: 20px 0px 50px 0px;
}

.section-content {
  /*border-top: 1px solid rgb(235, 235, 235);
  padding: 30px 0px 0px 0px;*/
  width: 60%;
}

.section-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  align-items: center;
  align-content: center;
}
/**/

/* About section*/
.about-container {
  gap: 80px 25px;
}

.about-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;

  gap: 25px;
  padding-bottom: 50px;
}

.about-box-big,
.about-box-medium,
.about-box-small {
  /*border: 1px solid rgb(220, 220, 220);
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(210, 210, 210);*/

  display: flex;
  flex-wrap: wrap;
  align-content: center;
  min-height: 100px;
  overflow: hidden;

  text-align: justify;
  text-indent: 30px;

  row-gap: 20px;
}

.about-box-big {
  width: 93%;
  min-width: 250px;
}
.about-box-medium {
  width: 45%;
  min-width: 200px;
}
.about-box-small {
  width: 20%;
  min-width: 200px;
}

.about-box-img {
  /*object-fit: cover;
  object-position: center;*/
  background-size: cover;
  background-position: center;
  object-fit: cover;
  min-height: 300px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 10px;
}

/**/

/* FAQ section */
.faq-q-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  /*background-color: rgb(255, 255, 255);
  border: 1px solid rgb(230, 230, 230);*/

  background-color: rgb(190, 195, 185);
  border: 1px solid rgb(170, 175, 160);

  /*background-color: rgb(200, 205, 190);
  border: 1px solid rgb(200, 200, 190);*/

  border-radius: 5px;
  padding: 20px;
  font-size: 14px;
  transition: 0.3s;
  cursor: pointer;
}

.faq-q-box > p {
  font-weight: bold;
}

.faq-q-box:hover {
  /*background-color: rgb(235, 235, 235);*/
  background-color: rgb(200, 210, 195);
  /*background-color: rgb(220, 225, 210);*/
}

.faq-a-box {
  /*display: none;*/
  overflow: hidden;
  width: 100%;
  transition: height 0.3s ease-in-out;
  height: 0;
}

.faq-a-box > p {
  padding-top: 30px;
}

.faq-a-box.expanded {
  height: calc-size(auto, size);
}

.faq-q-box,
.faq-a-box {
  text-align: justify;
}

.faq-no-match {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 30px;
  padding-top: 50px;
  font-weight: 600;
}

.ask-me-container {
  padding: 20px;
  text-align: center;
  width: 100%;
}

.ask-me-text {
  padding: 15px;
  background-color: rgb(190, 195, 185);
  border: 1px solid rgb(170, 175, 160);
  border-radius: 10px;
  color: black;
  font-weight: 600;
  transition: 0.3s;
}

.ask-me-text:hover {
  background-color: rgb(200, 210, 195);
}

/*testimonials section*/

.testimonial-content {
  width: 60%;
}

.testimonial-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(220, 220, 220);
  border-radius: 5px;
  min-width: 300px;
  min-height: 300px;
  padding: 35px;
  row-gap: 20px;
  width: 45%;
}

/* footer section*/

footer {
  background-color: rgb(140, 150, 135);
  color: white;

  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 50px;
}

.footer-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 100px;
}

.footer-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.connect-container {
  width: 100%;
}

.connect-box {
  width: 250px;
  height: 250px;
  background-color: rgb(148, 158, 140);
  border: 1px solid rgb(135, 140, 130);
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  transition: 0.3s;
  color: black;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.connect-box:hover {
  background-color: rgb(160, 170, 150);
}

.connect-box-img {
  width: 80%;
  height: auto;
}

.input-field-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px;
  row-gap: 5px;
}

.input-field {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
}

#submit {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(160, 170, 145);
  border: 1px solid rgb(160, 165, 150);
  color: white;
  transition: ease-in-out 0.2s;
  cursor: pointer;
}

#submit:hover {
  background-color: rgb(170, 180, 150);
}
*/

/**/
.side-bar {
  width: 20%;
  background-color: rgb(242, 228, 255);
}

a:link {
  text-decoration: none;
}

/*Text*/
.about-box-small,
.about-box-medium,
.about-box-big,
.faq-q-box,
.faq-a-box,
.testimonial-box {
  font-size: 16px;
}

/**/

/*Responsive for mobiles*/
@media screen and (max-width: 1050px) {
  .testimonial-content {
    width: 90%;
  }
}
@media screen and (max-width: 800px) {
  .section-content {
    width: 80%;
  }
  .side-bar {
    overflow: hidden;
    width: 0%;
  }
}
/*responsive menu*/
@media screen and (max-width: 910px) {
  #nav-container-wide {
    display: none;
  }
  .nav-container-compact-opener {
    display: flex;
  }
  .section-title {
    font-size: 25px;
  }
}
/**/

@media screen and (max-width: 650px) {
  .section-content {
    width: 90%;
  }
  .about-box-big,
  .about-box-medium {
    width: 100%;
  }
}

@media screen and (max-width: 350px) {
  .nav-box {
    font-size: 15px;
  }
}

/*color-scheme*/
/*@media (prefers-color-scheme: light) {
  #nav-container-wide, .nav-container-compact-opener{
    background-color: rgb(148, 165, 135);
  }
  footer{
    background-color: rgb(140, 150, 135);
  }
  section, .ask-me-text, .nav-box-wide, .nav-box-compact{
    color: black;
  }
  section:nth-child(even) {
    background-color: rgb(220, 225, 210);
  }

  section:nth-child(odd) {
    background-color: rgb(255, 250, 250);
  }
  .faq-q-box{
    background-color: rgb(200, 205, 190);
    border: 1px solid rgb(200, 200, 190);
  }
  .testimonial-box {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(220, 220, 220);
  }
}

@media (prefers-color-scheme: dark) {
  #nav-container-wide, .nav-container-compact-opener{
    background-color: rgb(95, 105, 85);
  }
  footer{
    background-color: rgb(100, 105, 95);
  }
  section, .ask-me-text, .nav-box-wide, .nav-box-compact{
    color: white;
  }
  section:nth-child(even) {
    background-color: rgb(60, 60, 60);
  }

  section:nth-child(odd) {
    background-color: rgb(30, 30, 30);
  }
  .about-box-img{
    border: 1px solid rgb(55, 55, 55);
  }
  .faq-q-box, .ask-me-text{
    background-color: rgb(90, 90, 90);
    border: 1px solid rgb(55, 55, 55);
  }
  .faq-q-box:hover, .ask-me-text:hover{
    background-color: rgb(110, 110, 110);
  }
  .testimonial-box {
    background-color: rgb(100, 100, 100);
    border: 2px solid rgb(55, 55, 55);
  }
}*/